.split-screen {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left-panel {
    flex: 4;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.right-panel {
    flex: 2;
    padding: 10px;
}

.article-title {
    text-align: center;
}