.split-screen {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left-panel {
    flex: 4;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.right-panel {
    flex: 2;
    padding: 10px;
}

.article-title {
    text-align: center;
}

.language-button {
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.api-response-textbox {
    width: 400px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
}

.api-editing-textbox {
    width: 400px;
    height: 500px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
}

.spacer {
    padding: 15px;
}

#articleTitle {
    border-radius: 10px;
}

#articleCopy {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.button-container {
    display: flex;
}

.button-19 {
    background-color: #006599;
    border: 1px solid #266DB6;
    border-radius: 6px;
    box-sizing: border-box;
    color: #b1d1e0;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-19:hover,
.button-19:active {
    outline: 0;
}

.button-19:hover {
    background-color: transparent;
    color: #006599;
    cursor: pointer;
}

.button-19:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.button-19:hover:before {
    background-color: #6DCFF6;
}

@media (min-width: 768px) {
    .button-19 {
        padding: 16px 32px;
    }
}