.Title {
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  padding: 1em;
  line-height: 24px;
  margin-bottom: 1em;
  background-color: #b1d1e0;
  color: #006599;
}

.introText {
  padding-left: 40px;
  justify-content: left;
}