.Title {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #b1d1e0 ;
    color: #006599;
  }
  
.Selectors {
    font-size: small;
    text-align:center;
  }