.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b1d1e0;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #006599;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"] {
  width: 90%;
  text-align: left;
  vertical-align: top;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea[type="text"] {
  width: 90%;
  height: 200px;
  text-align: left;
  vertical-align: top;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  text-align: center;
  display: block;
  margin: 0 auto;
}

p {
  font-size: medium;
}

.loading {
  cursor: wait;
}

